server:
  forward-headers-strategy: framework
  port: 0

spring:
  application:
    name: user-service
  kafka:
    bootstrap-servers: ${DB_HOST}:9092
    consumer:
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      auto-offset-reset: earliest

  datasource:
    url: jdbc:mysql://${DB_HOST}:3306/user_schema?serverTimezone=Asia/Seoul&characterEncoding=UTF-8&useSSL=false&allowPublicKeyRetrieval=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      validation-timeout: 5000
      idle-timeout: 600000
  jpa:
    hibernate:
      ddl-auto: update  # ?? validate, create, create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: true

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  # Redis 설정
  data:
    redis:
      host: ${DB_HOST}
      port: ${REDIS_PORT}
      password: 
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

  cloud:
    aws:
      credentials:
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
      region:
        static: ${S3_REGION:garage}

  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${OAUTH_GITHUB_CLIENT_ID}
            client-secret: ${OAUTH_GITHUB_CLIENT_SECRET}
            redirect-uri: https://${API_SERVER_URL}/user-service/login/oauth2/code/github
            scope: read:user
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: id

springdoc:
  api-docs:
    version: openapi_3_0
    enabled: true
    path: /v3/api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_DEFAULTZONE}

google:
  credentials:
    path: ${GOOGLE_APPLICATION_CREDENTIALS:/app/credentials.json}

jwt:
  secret: ${JWT_SECRET}
  expiration-time: 3600000 # 액세스 토큰 만료 시간: 1시간 (밀리초)
  refresh-expiration-time: 604800000 # 리프레시 토큰 만료 시간: 7일 (밀리초)
  cookie-domain: ${COOKIE_DOMAIN:sejongssg.kr}

aws:
  s3:
    bucket: ${S3_BUCKET}
    region: ${S3_REGION:garage}
    endpoint: http://${DB_HOST}:3900  # 내부 통신용
    path-style-access-enabled: true

management:
  server:
    port: 18080  #이거는 매트릭을 수집하기 위한 고정 포트다.
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always

app:
  oauth2:
    success-redirect-uri: ${FRONTEND}
  file:
    base-url: ${FILE_BASE_URL:https://files.sejongssg.kr} # 외부 공개용